In [3]:
import pandas as pd
import torch
import torch.nn as nn
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from torch.utils.data import DataLoader, TensorDataset, random_split

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [5]:
data = pd.read_csv("AirQualityUCI.csv")
data.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
0,3/10/2004,18:00:00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578,NaN,NaN
1,3/10/2004,19:00:00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255,NaN,NaN
2,3/10/2004,20:00:00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502,NaN,NaN
3,3/10/2004,21:00:00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867,NaN,NaN
4,3/10/2004,22:00:00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888,NaN,NaN

In [14]:
# Rename the columns to be more descriptive
data.rename(columns={
    'Date': 'Measurement_Date',
    'Time': 'Measurement_Time',
    'CO(GT)': 'Carbon_Monoxide_Concentration',
    'PT08.S1(CO)': 'CO_Sensor_Measurement',
    'NMHC(GT)': 'Non_Methane_Hydrocarbons_Concentration',
    'C6H6(GT)': 'Benzene_Concentration',
    'PT08.S2(NMHC)': 'NMHC_Sensor_Measurement',
    'NOx(GT)': 'Nitrogen_Oxides_Concentration',
    'PT08.S3(NOx)': 'NOx_Sensor_Measurement',
    'NO2(GT)': 'Nitrogen_Dioxide_Concentration',
    'T': 'Temperature_Celsius',
    'RH': 'Relative_Humidity',
    'AH': 'Absolute_Humidity'
}, inplace=True)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9471 entries, 0 to 9470
Data columns (total 17 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Measurement_Date                        9357 non-null   object
 1   Measurement_Time                        9357 non-null   object
 2   Carbon_Monoxide_Concentration           9357 non-null   float64
 3   CO_Sensor_Measurement                   9357 non-null   float64
 4   Non_Methane_Hydrocarbons_Concentration  9357 non-null   float64
 5   Benzene_Concentration                   9357 non-null   float64
 6   NMHC_Sensor_Measurement                 9357 non-null   float64
 7   Nitrogen_Oxides_Concentration           9357 non-null   float64
 8   NOx_Sensor_Measurement                  9357 non-null   float64
 9   Nitrogen_Dioxide_Concentration          9357 non-null   float64
 10  PT08.S4(NO2)                            9357 non-null   float64
 11  PT08.S5(O3)                             9357 non-null   float64
 12  Temperature_Celsius                     9357 non-null   float64
 13  Relative_Humidity                       9357 non-null   float64
 14  Absolute_Humidity                       9357 non-null   float64
 15  Unnamed: 15                             0 non-null      float64
 16  Unnamed: 16                             0 non-null      float64
dtypes: float64(15), object(2)
memory usage: 1.2+ MB

In [16]:
# Remove empty last two columns
data.drop(data.columns[15:17], axis=1, inplace=True)

# After visual inspection, it looks like there are only 9358 entries in the csv file. Not sure why data.info() is registering 9471 
# data entries? Because of this, I will only "keep" the 9358 rows.
data = data[:9357]
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357 entries, 0 to 9356
Data columns (total 15 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Measurement_Date                        9357 non-null   object
 1   Measurement_Time                        9357 non-null   object
 2   Carbon_Monoxide_Concentration           9357 non-null   float64
 3   CO_Sensor_Measurement                   9357 non-null   float64
 4   Non_Methane_Hydrocarbons_Concentration  9357 non-null   float64
 5   Benzene_Concentration                   9357 non-null   float64
 6   NMHC_Sensor_Measurement                 9357 non-null   float64
 7   Nitrogen_Oxides_Concentration           9357 non-null   float64
 8   NOx_Sensor_Measurement                  9357 non-null   float64
 9   Nitrogen_Dioxide_Concentration          9357 non-null   float64
 10  PT08.S4(NO2)                            9357 non-null   float64
 11  PT08.S5(O3)                             9357 non-null   float64
 12  Temperature_Celsius                     9357 non-null   float64
 13  Relative_Humidity                       9357 non-null   float64
 14  Absolute_Humidity                       9357 non-null   float64
dtypes: float64(13), object(2)
memory usage: 1.1+ MB

In [7]:
# Define the GRU model
class GRUModel(nn.Module):
    def __init__(self, input_size, hidden_size, output_size, num_layers=1):
        super(GRUModel, self).__init__()
        self.hidden_size = hidden_size
        self.num_layers = num_layers
        # The GRU layer processes input sequences and produces outputs and hidden states for each time step.
        self.gru = nn.GRU(input_size, hidden_size, num_layers, batch_first=True)
        # A fully connected (linear) layer that maps the output of the GRU to the desired output size.
        self.fc = nn.Linear(hidden_size, output_size)

    def forward(self, x):
        h0 = torch.zeros(self.num_layers, x.size(0), self.hidden_size)  # initialize hidden state
        out, _ = self.gru(x, h0)  # GRU layer
        out = self.fc(out[:, -1, :])  # Take only the last time step's output
        return out

In [24]:
time_series_data = data['Nitrogen_Dioxide_Concentration'].to_numpy()
print("Number of data points:", len(time_series_data))
scaler = MinMaxScaler()
time_series_data = scaler.fit_transform(time_series_data.reshape(-1, 1)).flatten()

# Create the input sequences and targets. The target will be the 4th Nitrogen_Dioxide_Concentration after a sequence of 3.
sequence_length = 3  
X, y = [], []
for i in range(len(time_series_data) - sequence_length):
    X.append(time_series_data[i:i + sequence_length])
    y.append(time_series_data[i + sequence_length])

X = np.array(X)
y = np.array(y)

# Convert to PyTorch tensors
X = torch.tensor(X, dtype=torch.float32)
y = torch.tensor(y, dtype=torch.float32)

# Create DataLoaders for training, validation, and testing
dataset = TensorDataset(X, y)
train_size = int(0.7 * len(dataset))  # 70% for training
val_size = int(0.15 * len(dataset))   # 15% for validation
test_size = len(dataset) - train_size - val_size  # 15% for testing

# Split the dataset
train_dataset, val_dataset, test_dataset = random_split(
    dataset, [train_size, val_size, test_size]
)

# Create data loaders for each subset
train_loader = DataLoader(train_dataset, batch_size=2, shuffle=True)
# val_loader = DataLoader(val_dataset, batch_size=2)  # No shuffling for validation
test_loader = DataLoader(test_dataset, batch_size=2)  # No shuffling for testing

Number of data points: 9357

In [25]:
# Hyperparameters
input_size = 1  # Each time step has one feature
hidden_size = 16  # GRU hidden units
output_size = 1  # Predicting one value ahead
num_layers = 1
learning_rate = 0.001
num_epochs = 50

# Instantiate model, loss function, and optimizer
model = GRUModel(input_size, hidden_size, output_size, num_layers)
criterion = nn.MSELoss()
optimizer = torch.optim.Adam(model.parameters(), lr=learning_rate)

best_val_loss = float('inf')

# Train the model
for epoch in range(num_epochs):
    for X_batch, y_batch in train_loader:
        X_batch = X_batch.view(-1, sequence_length, input_size)
        outputs = model(X_batch)
        loss = criterion(outputs, y_batch.view(-1, 1))

        optimizer.zero_grad()
        loss.backward()
        optimizer.step()

    if (epoch+1) % 10 == 0:
        print(f'Epoch [{epoch+1}/{num_epochs}], Loss: {loss.item():.4f}')

Epoch [10/50], Loss: 0.0044
Epoch [20/50], Loss: 0.0020
Epoch [30/50], Loss: 0.0023
Epoch [40/50], Loss: 0.0088
Epoch [50/50], Loss: 0.0012

In [26]:
# Evaluate on test data
model.eval()
test_loss = 0
with torch.no_grad():
    for X_batch, y_batch in test_loader:
        X_batch = X_batch.view(-1, sequence_length, input_size)
        outputs = model(X_batch)
        test_loss += criterion(outputs, y_batch.view(-1, 1)).item()
test_loss /= len(test_loader)
print(f'Test Loss: {test_loss:.4f}')

Test Loss: 0.0122